@import "variables"
.boards_header
    font-size: 30px
    line-height: 30px
.board_card_container
    display: flex
    justify-content: left
    flex-wrap: wrap
    margin: 10px 0px 0px 5px
@media (min-width: 320px) and (max-width: 411px)
    .board_card_container
        justify-content: center
